$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
$ce-soir: #9B72A4;
$white: #fff;
$east-side: #af8db7;
$cabaret: #d05883;
$pale-violet-red: #da7b9d;
$saffron: #f5be39;
$golden-glow: #face6f;
$viking: #4dc6b6;
$riptide: #85d5ca;
$white: #fff;
$font-black: #333;

body {
  font-family: "proxima-nova-alt";
}
h1 {
  font-family: "proxima-nova-soft";
  font-weight: 700; 
}
.logo {
  height: 10em;
}
.fa-chevron-down {
  margin-left: .5em;
}
p,
.ui.form .field > label {
  font-size: 1.35em;
}
.container-fluid {
  background-color: $east-side;
  color: $white;
  height: 100vh;
}
.marketing {
  height: 100vh;
  max-height: 100%;
}
.learn-more {
  text-align: center;
  margin-top: 20vh;
  list-style-type: none;
  font-size: 1.75em;
  color: $white;
}
.learn-more:hover,
.love-box:hover {
  -webkit-animation: tada 1.5s ease;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
.landing-h1 {
  margin-top: 20vh;
  font-size: 4em;
  text-align: center;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }


  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.love-box {
  padding-top: 2em;
}
.ui.blue.button {
  background-color: $riptide;
}
.ui.blue.button:hover {
  background-color: $viking;
}
.ui.blue.button:active {
  border-color: $viking;
}